*{
    margin: 0;
    padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    max-width: 1632px;
    margin:16px 345px 16px 160px;
}
nav .mid-btn{
    display: flex;
    gap: 32px;
}
nav .mid-btn{
    list-style: none;
    

}
nav .mid-btn a{
    text-decoration: none;
    color: #000000;
}
.btn{
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    width: 164px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: #0e2613;
}
#hero{
    width: 100%;
    height: 674px;
    background-image:url(./assets/hero-bg.png);
    text-align: center;
}
.hero-title{
    padding-top: 116px;
}
.hero-text h2{
    font-size: 72px;
    font-weight: 700px;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.hero-text #color{
    color: #30B868;
}
.hero-text p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}
#hero .hero-btn{
    padding: 16px 46px 16px 16px;
    border: none;
    border-radius: 4px;
    width: 240px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    margin-bottom: 183px;
    cursor: pointer;
}
#hero .hero-btn:hover{
    background-color: #436b32;
}
.hero-btn2{
    padding: 16px 46px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    width: 200px;
    background-color: #46916500;
    color: white;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 183px;
    cursor: pointer;
}
#hero .hero-btn2:hover{
    background-color: #caccc99c;
}
#cards .card-container{
    width: 82%;
    max-width: 1632px;
    margin: 0 auto;
    text-align: center;
}
.card-container .card-text h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 80px;
    padding-bottom: 16px;

}
.card-container .card-text p{
    color: #627382;
    font-size: 16px;
    padding-bottom: 44px;
}
.card-container .card{
    display: flex;
    gap: 24px;
}
.card-container .card-img{
    background-color: #F95555;
    border-radius:50px;
    padding: 14px;
    margin-bottom: 16px;
}
.card-container h3{
    font-size: 24px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.card-container p{
    color: #627382;
    font-size: 400;
    line-height: 20px;
    text-align: center;
    padding: 0 24px;
}
.all-card{
    padding: 69.5px 20px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 8px 0px #1c222a1a;
    margin-bottom: 120px;
}
#solution{
    width: 1632;
    margin: 145px 250px;
}
#solution .solution-container{
    display: flex;
    gap: 85px;
    margin: 0 auto;
}
.solution-container .solution-text{
    padding: 101.5px 0;
}
.solution-container .solution-text h6{
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 16px;
}
.solution-container .solution-text h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
.solution-container .solution-text p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 40px;
}
.solution-container .solution-text li{
    font-size: 16px;
    font-weight: 500px;
    list-style:none;
    padding-bottom: 16px;
}